<% content_for :title do %>
	Leaderboard
<% end %>

<% if @latest %>
	<h1 class="page-header">Live Score</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th># of Products Recycled</th>
					<th>$</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @latest.name %></td>
					<td><%= @latest.recycled_product %></td>
					<td>$<%= number_with_precision(@latest.recycled_product * 0.2, :precision => 2) %></td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

<h2 class="sub-header">Leaderboard</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th># of Products Recycled</th>
			<th>$</th>
		</tr>
		</thead>
		<tbody>
			<% if not @users.empty? %>
				<% @users.each_with_index  do |user, index| %>
					<tr>
						<td><%= index + 1 %></td>
						<td><%= user.name %></td>
						<td><%= user.recycled_product %></td>
						<td>$<%= number_with_precision(user.recycled_product * 0.2, :precision => 2) %></td>
					</tr>
				<% end %>
			<% else %>
				<tr>
					<td colspan="4">Nobody recycled :(</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
